<mat-card class="container">
  <mat-toolbar>
    <span>Consulta</span>
  </mat-toolbar>

  <table mat-table [dataSource]="lerUsuario" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- nome Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>nome</th>
      <td mat-cell *matCellDef="let usuarios">
        {{ usuarios.dados_pessoais.nome }}
        {{ usuarios.dados_pessoais.sobrenome }}
      </td>
    </ng-container>

    <!-- cpf Column -->
    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef>cpf</th>
      <td mat-cell *matCellDef="let usuarios">
        {{ usuarios.dados_pessoais.cpf }}
      </td>
    </ng-container>

    <!-- data_nascimento Column -->
    <ng-container matColumnDef="data_nascimento">
      <th mat-header-cell *matHeaderCellDef>data_nascimento</th>
      <td mat-cell *matCellDef="let usuarios">
        {{ usuarios.dados_pessoais.data_nascimento }}
      </td>
    </ng-container>

    <!-- endereco Column -->
    <ng-container matColumnDef="endereco">
      <th mat-header-cell *matHeaderCellDef>endereco</th>
      <td mat-cell *matCellDef="let usuarios">
        {{ usuarios.endereco.endereco }} - {{ usuarios.endereco.numero }}/{{
          usuarios.endereco.complemento
        }}
        - {{ usuarios.endereco.cidade }}/{{ usuarios.endereco.estado }} -
        {{ usuarios.endereco.cep }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
