.validation-error{
  color: red;
}
.container-right{
  display: flex;
  justify-content: right;
  margin: 20px 0;
}
.container-form{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
label{
  color: white;
  display: block;
}
input{
  width: 90%;
}
.largura-maxima{
  width: 49%;
  margin: 10px auto;
}
mat-card{
  width:70%;
  margin: 10px auto;
}
