<mat-card class="container">
  <form #form="ngForm" (ngSubmit)="salvar(form)">
    <div class="grupo-campo">
      <label>cpf:</label>
      <input
        type="number"
        name="cpf"
        id="cpf"
        required
        [(ngModel)]="data.cpf"
      />
    </div>
    <div class="grupo-campo">
      <label>nome:</label>
      <input
        type="text"
        name="nome"
        id="nome"
        required
        [(ngModel)]="data.nome"
      />
    </div>
    <div class="grupo-campo">
      <label>sobrenome:</label>
      <input
        type="text"
        name="sobrenome"
        id="sobrenome"
        required
        [(ngModel)]="data.sobrenome"
      />
    </div>
    <div class="grupo-campo">
      <label>data_nascimento:</label>
      <input
        type="date"
        name="data_nascimento"
        id="data_nascimento"
        required
        [(ngModel)]="data.data_nascimento"
      />
    </div>
    <div class="grupo-campo">
      <label>cep:</label>
      <input
        type="number"
        name="cep"
        id="cep"
        required
        [(ngModel)]="data.cep"
      />
    </div>
    <div class="grupo-campo">
      <label>endereco:</label>
      <input
        type="text"
        name="endereco"
        id="endereco"
        required
        [(ngModel)]="data.endereco"
      />
    </div>
    <div class="grupo-campo">
      <label>numero:</label>
      <input
        type="text"
        name="numero"
        id="numero"
        required
        [(ngModel)]="data.numero"
      />
    </div>
    <div class="grupo-campo">
      <label>complemento:</label>
      <input
        type="text"
        name="complemento"
        id="complemento"
        required
        [(ngModel)]="data.complemento"
      />
    </div>
    <div class="grupo-campo">
      <label>cidade:</label>
      <input
        type="text"
        name="cidade"
        id="cidade"
        required
        [(ngModel)]="data.cidade"
      />
    </div>
    <div class="grupo-campo">
      <label>estado:</label>
      <input
        type="text"
        name="estado"
        id="estado"
        required
        [(ngModel)]="data.estado"
      />
    </div></form
></mat-card>
