.validation-error{
  color: red;
}
.container-right{
  display: flex;
  justify-content: right;
  margin: 20px 0;
}
label{
  color: white;
}
.largura-maxima{
  width:100%;
  margin: 10px auto;
}
mat-card{
  width:70%;
  margin: 10px auto;
}
