<app-messages></app-messages>
<mat-card class="container">
  <mat-toolbar>
    <span>Cadastro</span>
  </mat-toolbar>
  <form class="container-form" [formGroup]="formulario" #formDir="ngForm">
    <div class="largura-maxima">
      <label>Nome:</label>
      <input formControlName="nome" />
    </div>
    <div class="largura-maxima">
      <label>sobrenome:</label>
      <input formControlName="sobrenome" />
    </div>
    <div class="largura-maxima">
      <label>cpf:</label>
      <input type="number" max="99999999999" formControlName="cpf" />
    </div>
    <div type="date" class="largura-maxima">
      <label>data_nascimento:</label>
      <input type="date" max="9999-12-31" formControlName="data_nascimento" />
    </div>
    <div class="largura-maxima">
      <label>cep:</label>
      <input type="number" formControlName="cep" />
    </div>
    <div class="largura-maxima">
      <label>endereco:</label>
      <input formControlName="endereco" />
    </div>
    <div class="largura-maxima">
      <label>numero:</label>
      <input formControlName="numero" />
    </div>
    <div class="largura-maxima">
      <label>complemento:</label>
      <input formControlName="complemento" />
    </div>
    <div class="largura-maxima">
      <label>cidade:</label>
      <input formControlName="cidade" />
    </div>
    <div class="largura-maxima">
      <label>estado:</label>
      <input formControlName="estado" />
    </div>
  </form>
  <mat-card-actions class="container-right">
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Cadastrar
    </button>
  </mat-card-actions>
</mat-card>
