.message {
  position: fixed;
  top: 3em;
  width: 50%;
  margin-left: 50%;
  left: -25%;
  z-index: 10;
  background-color: #fff;
  border-radius: 8px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}
.message-header {
 display:flex;
 justify-content: space-between;
 margin-bottom: 1em;
}
.message-header button {
  padding: 1em;
}
.sucesso{
  border: 3px solid rgb(20, 170, 0);
}
.error{
  border: 3px solid rgb(170, 0, 0);
}
